.instagram-logo {
  width: 20.5rem;
}
.login-form-control {
  font-size: 13px;
  border-radius: 0px;
  width: 250px;
  margin-top: 1em;
}

:host ::ng-deep .p-button {
  width: 250px;
  margin-top: 0.5em;
}

.login-form-control-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  margin-top: 0px;
  padding-top: 0px;
}
